fon {
    opacity: 40%;
    z-index: 0;
    position: absolute;
    width: 100vw;
}

.head {
    font-size: 6.16vw;
    color: #FF92B9;
    font-family: "PP Pangram Sans Rounded";
    font-weight: 500;
    z-index: 2;
    position: absolute;
    top: 11.5vw;
    left: 8vw;
}

.allform {
    height: 71vw;
    overflow: hidden;
    position: relative;

}

.background {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 117.9vw;
    position: absolute;
    top: 11.04vw;
    background: radial-gradient(88.04% 42.41% at 49.93% 50%, #FFA2C3 30.21%, rgba(255, 233, 175, 0.74) 96.88%);
    filter: blur(2.3vw);
    animation: vibe 3s ease-out infinite;
}

@keyframes vibe {
    from {
        filter: blur(2.3vw);
    }

    50% {
        filter: blur(5.2vw);
    }
}

.small,
.reserve {
    font-family: "PP Pangram Sans Rounded";
    font-weight: 400;
    font-size: 1.99vw;
    color: #FF92B9;
    position: absolute;
    line-height: 2.29vw;
    z-index: 2;
}

#small1 {
    top: 21.5vw;
    left: 8vw;
}

input[type=text],
input[type=date],
input[type=time],
input[type=tel],
input[type=info],
input[type=number] {
    z-index: 2;
    position: absolute;
    top: 24.5vw;
    left: 8vw;
    width: 21.14vw;
    padding: 1.2vw;
    padding-left: 2.5vw;
    display: inline-block;
    border: none;
    border-radius: 2.57vw;
    background: #ffffff;
    font-family: "PP Pangram Sans Rounded";
    font-weight: 400;
    font-size: 1.29vw;
    color: #FF92B9;
}

::placeholder {
    color: #FF92B9;
}

input {
    color: #FF92B9;
}

#small2 {
    top: 21.5vw;
    left: 37vw;
}

input[type=tel] {
    left: 37vw;
}

input[type=date],
input[type=number] {
    top: 36.5vw;
    left: 30vw;
}

input[type=number] {
    left: 8vw;
    width: 14vw;
}

input[type=time] {
    top: 36.5vw;
    left: 58vw;
    width: 9.15vw;
}

input[type=info] {
    width: 39.5vw;
    padding: 7.5vw;
    padding-left: 2.5vw;
    padding-top: 1.5vw;
    top: 48.3vw;
    left: 8vw;
}

#small3 {
    top: 33.5vw;
    left: 8vw;
}

#small4 {
    top: 33.5vw;
    left: 30vw;
}

#small5 {
    top: 33.5vw;
    left: 58vw;
}

#small6 {
    top: 45.0vw;
    left: 8vw;
}

.reserve {
    background-color: #ffffff;
    color: #FF92B9;
    padding: 1.2vw;
    border: none;
    cursor: pointer;
    width: 18.83vw;
    position: absolute;
    z-index: 2;
    top: 61.0vw;
    left: 8vw;
    border-radius: 2.57vw;
    font-size: 1.29vw;
}

.reserve:hover {
    background: radial-gradient(88.04% 42.41% at 49.93% 50%, #FFA2C3 30.21%, rgba(255, 233, 175, 0.74) 96.88%);
    transition: 1s;
    color: #ffffff;
}

.colortext {
    color: #FF92B9;
}

.dark {
    z-index: 5;
    position: absolute;
    width: 100vw;
    height: 71vw;
    background-color: #E4ACFF;
    opacity: 70%;
}

#head2 {
    z-index: 6;
    color: #FFFFFF;
    position: absolute;
    top: 31vw;
    left: 25vw;
}

.thanks {
    display: none;
}