.fon {
    opacity: 40%;
    z-index: 0;
    position: absolute;
    width: 100vw;
}

.big1 {
    position: absolute;
    top: 9vw;
    left: 4vw;
    font-size: 6.16vw;
    color: #FF92B9;
    font-family: "PP Pangram Sans Rounded";
    font-weight: 500;
    z-index: 2;
}

.back1,
.back2,
.back3 {
    position: absolute;
    width: 67.43vw;
    height: 63.26vw;
    top: 5vw;
    left: 20vw;
    background: radial-gradient(119.26% 57.45% at 49.93% 50%, rgba(228, 172, 255, 0.850968) 30.21%, rgba(174, 216, 255, 0.34) 96.88%);
    animation: vibe 3s ease-out infinite;
    filter: blur(2.3vw);
    z-index: 0;
}

.back2 {
    background: radial-gradient(88.04% 42.41% at 49.93% 50%, #FFA2C3 30.21%, rgba(255, 233, 175, 0.74) 96.88%);
    top: -3vw;
    left: -15vw;
}

.back3 {
    background: radial-gradient(119.26% 57.45% at 49.93% 50%, #FFA2C3 30.21%, rgba(174, 216, 255, 0.34) 96.88%);
    top: 10vw;
    left: 77vw;
}


@keyframes vibe {
    from {
        filter: blur(2.3vw);

    }

    50% {
        filter: blur(5.2vw);

    }
}

.section1 {
    position: relative;
    height: 50.02vw;
    padding-top: 18.5vw;
    overflow: hidden;
}

.section2 {
    position: relative;
    height: 52.02vw;
    overflow: hidden;
}

.section3 {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 65vw;
    display: flex;
    justify-content: space-around;
}

.firstposters {
    display: flex;
    justify-content: space-between;
    animation: posters 12s infinite linear;

}

.secondposters {
    display: flex;
    justify-content: space-between;
    animation: secondposters 12s infinite linear;
}

@keyframes posters {
    0% {
        transform: translate(10%, 0);
    }

    100% {
        transform: translate(-415%, 0);
    }
}

@keyframes secondposters {
    0% {
        transform: translate(-360%, 0);
    }

    100% {
        transform: translate(7%, 0);
    }
}

#posters {
    position: relative;
    z-index: 2;
    width: 25.83vw;
    height: 38.82vw;
    padding: 1.25vw;
}

.firstposters:hover {
    animation-play-state: paused;
}

.secondposters:hover {
    animation-play-state: paused;
}

#name {
    font-family: "PP Pangram Sans Rounded";
    font-weight: 400;
    font-size: 1.99vw;
    color: #FF92B9;
    position: relative;
    line-height: 2.64vw;
    z-index: 2;
    padding: 1.25vw;
    width: 25.83vw;

}

#gif {
    position: absolute;
    width: 36.32vw;
    height: 54.51vw;
    padding: 1.25vw;
}

.gifka1,
.gifka2 {
    height: 65vw;
    width: 39vw;
}

.onegif {

    font-family: "PP Pangram Sans Rounded";
    font-weight: 400;
    font-size: 1.99vw;
    color: #FF92B9;
    position: absolute;
    line-height: 2.64vw;
    z-index: 2;
    top: 57vw;
    left: 6.5vw;
}

.twogif {

    font-family: "PP Pangram Sans Rounded";
    font-weight: 400;
    font-size: 1.99vw;
    color: #FF92B9;
    position: absolute;
    line-height: 2.64vw;
    z-index: 2;
    top: 57vw;
    left: 56.5vw;
}

.gifposter {
    position: relative;
    width: 100vw;
    height: 56.4vw;
    padding-top: 0vw;
}

.footer {
    position: relative;
    height: 10.9vw;
}

.onepart {
    font-family: "PP Pangram Sans Rounded";
    font-weight: 400;
    font-size: 1.99vw;
    width: 37.5vw;
    color: #FF92B9;
    position: absolute;
    top: 3vw;
    left: 4.5vw;
    line-height: 2.29vw;
    z-index: 2;
}

.twopart {
    font-family: "PP Pangram Sans Rounded";
    font-weight: 400;
    font-size: 1.99vw;
    width: 37.5vw;
    color: #FF92B9;
    position: absolute;
    top: 3vw;
    left: 30vw;
    line-height: 2.29vw;
    z-index: 2;
}

.minilogo {
    position: absolute;
    width: 9.86vw;
    height: 2.083;
    top: 5vw;
    left: 86.11vw;
}

.back1 {
    height: 56vw;
    top: 13vw;
    left: 35vw;
}

.back2 {
    top: 6vw;
}

.back3 {
    top: 7vw;
    left: 52vw;
}